* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

ol li {
  background-color: rgb(51, 4, 51);
  border-radius: 15px;
  width: 30%;
  margin: 10px;
  color: white;
}

ol li:hover {
  background-color: rgb(229, 82, 229);
  cursor: pointer;
}

/* .score-timer-container {
  display: flex;
  justify-content: start;

} */

/* .high-score-list {
  display: flex;
  width: 50%;
  border: solid black;
  justify-content: start;
} */

/* .timer {
  display: flex;
  width: 50%;
  border: solid black;
  justify-content: end;
} */

/* .display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black;
} */ */

/* .questions {
  display: flex;
  justify-content: center;
}

.answers {
  display: flex;
  justify-content: center;
}
