* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#content {
  text-align: center;
}

#nav {
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 30px;
}

#header {
  margin-top: 20px;
  margin-bottom: 10px;
}

#container {
  margin-bottom: 10px;
  text-align: center;
}

#high-score {
  display: flex;
  width: 50%;
  justify-content: start;
  color: rgb(227, 89, 220);
}

#high-score:hover {
  cursor: pointer;
}

#timer-container {
  display: flex;
  width: 50%;
  justify-content: end;
}

ol {
  text-align: -webkit-center;
}

ol li {
  background-color: navy;
  border-radius: 15px;
  width: 10%;
  height: 1.5em;
  margin: 10px;
  color: white;
}

ol li:hover {
  background-color: rgb(229, 82, 229);
  cursor: pointer;
}

#container h2 {
  margin: 10px;
}

#container div {
  margin: 10px;
}

#container button {
  width: 6%;
  border-radius: 5px;
  background-color: navy;
  color: white;
  margin: 5px;
}

#start {
  width: 5%;
  border-radius: 5px;
  background-color: navy;
  color: white;
}
